
    body {
      background-color: rgb(66, 66, 68);
      font-family: 'Alegreya Sans SC';font-size: 22px;
    }
    .topnav {
        background-color: rgb(26, 27, 20);
        overflow: hidden;
        
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        align-items: center;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #8666fa;
        color: white;
      }
      .welcome {
        color: rgb(0, 162, 255);
        font-size: 16px;
        text-align: middle;
      }
      .date {
      font-size: 12px;
      }
      .contact{
        text-align: center;
        font-size: 28px;
        color:rgb(0, 174, 255);
    }
    .news-text {
      color:rgb(0, 174, 255);
      font-size: 24px;
      text-align: middle;
    }

    .views {
      color: rgb(255, 0, 0);
      font-size: 24px;
      text-align: middle;
    }

    .important {
    text-align: center;
    }
    .btn1 {
      position: relative;
    
      display: block;
      margin: 30px auto;
      padding: 0;
    
      overflow: hidden;
    
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      
      background-color: #2ecc71;
      color: #ecf0f1;
      
      transition: background-color .3s;
    }
    
    .btn1:hover, .btn:focus {
      background-color: #27ae60;
    }
    
    .btn1 > * {
      position: relative;
    }
    
    .btn1 span {
      display: block;
      padding: 12px 24px;
    }
    
    .btn1:before {
      content: "";
      
      position: absolute;
      top: 50%;
      left: 50%;
      
      display: block;
      width: 0;
      padding-top: 0;
        
      border-radius: 100%;
      
      background-color: rgba(236, 240, 241, .3);
      
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .btn1:active:before {
      width: 120%;
      padding-top: 120%;
      
      transition: width .2s ease-out, padding-top .2s ease-out;
    }

    .fauxcrop {
     size: 20px
     text-align center
    }
    .text-size-news {
    font-size: medium
    color rgb(0, 174, 255)
    }
    
    .main-projects-github {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .canceled-projects-github {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .soon-projects-github {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    /* Styles, not important */
    *, *:before, *:after {
      box-sizing: border-box;
    }

